---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { getLocale, t } from "@/i18n";
import { filterPostsByLocale } from "@/utils/i18n";

const locale = getLocale(Astro.currentLocale);
const posts = filterPostsByLocale(await getCollection("blog"), locale);

let tags = getUniqueTags(posts);
---

<Layout title={`${t(locale, "tags.title")} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={t(locale, "tags.title")}
    pageDesc={t(locale, "tags.description")}
  >
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
